.markForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 0px
}

@media screen and (max-width: 992px){
    .markForm{
        width: 75%;
    }
    
}

.addMark{
    width: 100%;
    border: 1px solid #000;
    border-radius: 20px;
    padding: 10px;
}

.addMark h2{
    color: #000;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 10px;
}

.addMark hr{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.addMark label{
    color: #000;
    font-size: 16px;
    margin-left: 15px;
}

.buttonContainer
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

hr{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}